.titulo__container{
    color: #303535 ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 25px;
    margin-top: 3rem;
    padding: 0 0 0 20px;
}

@media screen and (min-width:0){    
    .titulo__container{
        font-size: 18px;
    }
}

@media screen and (min-width:768px){  
    .titulo__container{
        font-size: 25px; 
    }       
}