.logo__encabezado{
    width: 150px;
}

@media screen and (min-width:0) {
    .logo__encabezado{
        display: none;
    }
}


@media screen and (min-width:768px){
    .logo__encabezado{
        display: block;
    }
}
       
    