.imagen__proyecto{
    margin-bottom: 1rem;
    width: 500px;
    border-style: solid;
    border-color: rgb(193, 223, 224);
    box-sizing: border-box;
    border-width: 6px;
}

@media screen and (min-width:0){ 
    .imagen__proyecto{
        width: 250px;
    }    
}

@media screen and (min-width:768px){  
    .imagen__proyecto{
        width: 500px;
    }       
}