.formulario__textarea{
    text-align: left;
    border-style: solid;
    border-color: rgb(95, 96, 97);
    box-sizing: border-box;
    padding: 1rem;
    margin-bottom: 1rem;
    border-width: 2px;
}

@media screen and (min-width:0){
    .formulario__textarea{
       display: flex;
       align-items: center;
       width: 60%;
       height: 80px;
       font-size: 12px;
    }      
}

@media screen and (min-width:768px){
    .formulario__textarea{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        font-size: 18px;
    }
}

    